@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
* {
    font-family: 'Rubik', sans-serif;
}


.system-text-color{
    color: #16a34a;
}

.selected-higlight{ 
    @apply bg-gray-50 system-text-color
    bg-gray-50 system-text-color font-medium;
}